body {
  margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box; 
}

/* Header  Section*/
header {
  background-color: #d0e7fe;
  display:  flex;
  justify-content: space-between;
  padding: 12px;
  overflow: auto;
}
header img {
  width: 100px;
}
.sub-head-one{
  display: flex;
  align-items: center;
}
header ul{
  display: flex;
  margin-top: auto;
}
header li{
  list-style: none;
  font-weight: bold;
}
.sub-head-one li {
  margin-left: 40px;
}
.sub-head-one i{
   -webkit-text-stroke: 1px;
}
.sub-head-two{
  display: flex;
  align-items: center;
}
.sub-head-two li {
  font-size: 25px;
  -webkit-text-stroke: 1px;
  margin-top: 10px;
}
.sub-head-two i{
  -webkit-text-stroke: 1px;
}

form {
  color: #555;
  background-color: #ffffff;
  display: flex;
  border: 1px ;
  border-radius: 20px;
}

input[type="search"] {
  border: none;
  background: #ffffff;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  outline-style: none;
  width: 400px;
}
input[type="search"]::placeholder {
  color: #bbb;
}

/* Banner section */
.banner_section{
  background-image: url("/src/images/shop_banner.jpg");
  width: 100%;
  height: 215px;
}

/* Items Section */
.single_item img {
  width: 200px;
  height: 130px;
  object-fit: cover;
  border-radius: 3px;
  /* background-size: cover; */
}
.single_item {
  /* border-radius: 5px; */
  /* padding: 10px; */
  padding-top: 15px;
  /* padding: 5px; */
  padding-left: 5px;
  padding-right: 5px;
  /* padding-bottom: 5px; */
  /* padding-bottom: 1px; */
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: -20px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  width: 208px;
  height: 200px;
}
.collections_body{
  background-color: #d0e7fe;
  /* margin-top: 400px; */
  /* overflow: auto; */
}
.collections_body_for_items1{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  padding: 15px;
}
.side_item{
  grid-area: 'side_item';
}
.main_item{
  grid-area: item;
}
.collections_body_for_items2{
  display: grid;
  grid-template-areas:
  'side_item item item item item';
  gap: 8px;
  padding: 10px;
  padding-top: 20px;
  margin: auto;
}
.side_bar_item{
  /* border-radius: 10px; */
  padding: 20px;
  /* margin-left: 10px; */
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  /* width: 300px; */
  margin-top: -20px;
}
.side_item img {
  width: 100%;
  object-fit: cover;
}

.side_bar_item span{
  font-weight: bolder;
}