body {
  margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box; 
  background-color: #d0e7fe;
}

/* Header  Section*/
/* header {
  background-color: #d0e7fe;
  display:  flex;
  justify-content: space-between;
  padding: 12px;
  overflow: auto;
}
header img {
  width: 100px;
}
.sub-head-one{
  display: flex;
  align-items: center;
}
header ul{
  display: flex;
  margin-top: auto;
}
header li{
  list-style: none;
  font-weight: bold;
}
.sub-head-one li {
  margin-left: 40px;
}
.sub-head-one i{
   -webkit-text-stroke: 1px;
}
.sub-head-two{
  display: flex;
  align-items: center;
}
.sub-head-two li {
  font-size: 25px;
  -webkit-text-stroke: 1px;
  margin-top: 10px;
}
.sub-head-two i{
  -webkit-text-stroke: 1px;
}

form {
  color: #555;
  background-color: #ffffff;
  display: flex;
  border: 1px ;
  border-radius: 20px;
}

input[type="search"] {
  border: none;
  background: #ffffff;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  outline-style: none;
  width: 400px;
}
input[type="search"]::placeholder {
  color: #bbb;
} */

/* Banner section */
.banner_section{
  background-image: url("/src/images/shop_banner.jpg");
  width: 100%;
  height: 270px;
}

/* Items Section */

/* Main items body */
.collections_body{
  overflow: auto;
  margin-top: -40px;
  padding: 15px;
}

/* Items First Row */
.collections_body_for_row1{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
}
.first_collection_card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 3px;
}
.first_collection_card {
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  word-wrap: break-word;
  /* width: 208px; */
}

/* Items Second Row */
.collections_body_for_items2{
  padding-top: 25px;
  display: flex;
  gap: 34px;
}

.side_card{
  padding: 20px;
  background-color: #efefef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  /* height: 450px; */
  /* width: 450px; */
  height: auto;
}
.side_card img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.side_card span{
  font-weight: bolder;
}
.second_collections_mapped{
width: 100%;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
gap: 20px;
}
/* .second_collections{} */
.second_collection_card{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  word-wrap: break-word;
  height: 240px;
  position: relative;
}
.second_collection_card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 576px) {
  /* First Row Responsive */
  .collections_body_for_row1{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  /* Second Row Responsive */
  .collections_body_for_items2{
    flex-direction: column;
  }
  .side_card{
    height: auto;
    width: auto;
  }
  .side_card img {
    height: auto;
    width: auto;
  }
  .second_collections_mapped{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (min-width: 576px) {
  /* First Row Responsive */
  .collections_body_for_row1{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  /* Second Row Responsive */
  .collections_body_for_items2{
    flex-direction: column;
  }
  .side_card{
    width: 80%;
    height: auto;
    margin: auto;
  }
  .side_card img {
    height: auto;
    width: auto;
  }
  .second_collections_mapped{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media screen and (min-width: 768px) {
  /* First Row Responsive */
  .collections_body_for_row1{
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  /* Second Row Responsive */
  .collections_body_for_items2{
    flex-direction: row;
  }
.side_card{
  width: auto;
  height: auto;
  margin-top: auto;
}
.side_card img {
  width: 100%;
  object-fit: cover;
  /* height: auto; */
}
.second_collections_mapped{
  /* grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
  grid-template-columns: repeat(2, minmax(0, 1fr));

  }
}

@media screen and (min-width: 992px) {
  .second_collections_mapped{
    grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .side_card{
      margin: 0;
    }
  }
       @media screen and (min-width: 1400px) {
          .second_collections_mapped{
            /* grid-template-columns: repeat(6, minmax(0, 1fr)); */
            } 
    
      
}